<p><%= t "hello" %><%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t "mailer.change.content_1" %><%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t "mailer.change.content_2" %><%= @resource.email %>.</p>
<% end %>
